---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from '../components/Home.astro';
---

<Layout title="Arayan Memon">
	<main>
		<Home />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		/* padding: 1rem; */
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
